@media screen and (min-width:1001px) and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .footer-p {
    font-size: 1rem;
  }
  .title{
    color:black;
  }

  /* .section__pic-container img:hover{
    transform: rotateY(360deg);
    transition: 16s;
  } */
  .btn{
    border:solid 0.2rem gray;
  }
  .arrowicon:hover{
    transform: scaleY(2.4);
    transition: 0.9s;
  }
  .section__pic-container {
    height: 457px;
    width: 500px;
  }
  .arrowicon{
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: -7rem;
    bottom: 2rem;
  }
  .projects-color-container{
    
    background-color: rgb(240, 232, 232);
  }
  .projects-details-container{
    margin-top: 1%;
    max-height: fit-content;
  }
  .project-img{
    object-fit: contain;
    display: block;
    margin: 0 auto;
    height: 15rem;
    width: 33rem;
  }
  .project-title{
    font-size: 1rem;
  }
  .project-btn{
    font-size: 0.rem;
    font-weight: 700;
    padding: 1px;
    height: 50px;
    width: 100px;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {  
  body{
    background-color: white;
  }
  #desktop-nav {
    display: none;
  }
  .menu-links a:hover{
    color:black;
  }
  .btn{
    border:solid 0.2rem gray;
  }
 
  .menu-links a{
    color:rgb(235, 66, 66);
  }
  .menu-links:hover{
    border: none;
  }
  .menu-links{
    border-radius: 30px;
    border: none;
    right: 0.3rem;
  }
  #hamburger-nav {
    display: flex;
  }
  .hamburger-menu{
    right: -6rem;
  }
  .name{
    left: 0;
    margin-left: 0;
  }
  
  section {
    padding-top: 4vh;
    height: 10vh;
    margin: 0 5%;
    flex-wrap: wrap;
    height: fit-content;
  }
  .footer-p {
    font-size: 1rem;
  }

  #skills{
    margin-top: 0px;
  }

  #profile,
  .section-container {
    display: block;
  }
   #profile{
    height: 40vh;
   }

  .arrow {
    display: none;
  }

  .section-container {
    height: fit-content;
  }

  .about-section-container {
    height: fit-content;
    margin: 1rem 0rem 2rem 0rem;
  }
  
  .section__pic-container {
    width:  275px;
    height: 275px;
    margin: 0 auto 1rem;
    width:  300px;
    height: 300px;
  }
 
  .section__pic-container img{
    border-radius: 3rem;
    width: 275px;
    height: 275px;
  }

 .section__pic-container img:hover{
    border-radius: 100%;
    transform: rotate(-360deg);  
    transition: 10s;
  }
  #socials-container img {
    background-color: white;
    border-radius: 100%;
    border: rgb(255, 255, 255) 0.1rem solid;
    height: 40px;
  }

  .about-text-container{
    margin-top: 1rem;
  }
  
  .skills-about-containers{
    margin-top: 0px;
    padding-bottom: 0px;
  }
  
  .skills-details-container{
    margin-top: 0px;
    padding: 1%;
  }
  
  .experience-details-container {
    padding: 1rem;
    background: rgb(240, 232, 232);
    border-radius: 2rem;
  }

  .experience-text-container{
    padding: 1% 1%;
    border-radius: 1rem;
    background: rgb(240, 232, 232);
  }

  .experience-text-container h4{
    padding: 0% 0% 2%;
  }

  .experience-section-container {
    height: 100%;
  }

  .about-containers {
    gap: 1rem;
    margin-bottom: 0px;
    margin-top:    0px;
  }

  .projects-color-container{
    bottom: 1px;
    position: relative;
    background-color: rgb(240, 232, 232);
  }
  .projects-details-container{
    /* background-color: rgb(240, 232, 232); */
    margin-top: 1%;
    display: flex;
  }
  
  .projects-about-containers{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
   .arrowicon,#footer-nav{
    display:none;
  }

  .title{
    font-size: 2rem;
    color: rgb(46, 45, 45);
  }

  #contact{
    height: 1px;
  }

  .contact-info-upper-containe{
    text-align: center;
  }

  .contact-info-upper-container{
    flex-wrap: wrap;
  }

  .contact-info-container{
    padding: 1px 1px;
    font-size: 12px;
    height: fit-content;
  }

  .footer-p2,.footer-p{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .project-title{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  body{
    background-color: rgb(247, 249, 250);
  }
  #contact {
    height: 24vh;
    margin-top: 0;
    padding: 0;
  }
  #projects {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .experience-containers{
        margin-top: 0.3rem;
  }
  footer {
    height: fit-content;
    margin: 0;
    padding: 0;
  }
  #profile {
    height: 60vh;
    /* height: 84vh; */
    margin: 25px 0 0 0;
    /* margin: 0; */
    padding: 0%;
  }
  article {
    font-size: 0.6rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-upper-container {
    margin: 0;
    width: fit-content;
    border: none;
    flex-wrap: wrap;
  }
  .contact-info-container img{
  cursor: pointer;
  height: 2rem;

  }
  .contact-info-container {
    margin: 0;
    font-size: 1rem;
    padding: 3px 3px 1px 0;
  }
  .contact-info-container p {
    font-size: 1rem;
  }
  .skills-sub-title {
    font-size: 1rem;
    margin: 0;
    padding: 1%;
  }
  .name {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.2rem;
  }
  .section__text__p1 {
    font-size: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .text-container {
    text-align: justify;
  }
  #footer p {
    padding-bottom: 2%;
  }
  .nav-links-container {
    background-color: rgb(235, 66, 66);
    border: rgb(235, 66, 66);
  }
  #hamburger-nav {
    background-color: rgb(241, 235, 235);
    margin: 10px;
    height: 3rem;
  }
  .menu-links {
    border-radius: 10px;
    background-color: aliceblue;
    top: 36.1px;
    right: -23px;
    /* height: 31vh; */
  }
  .menu-links a:hover {
    color: rgb(241, 235, 235);
  }
  .menu-links li {
    padding: 0;
    margin: 0;
  }

  .menu-links a {
    padding: 1px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }

  .menu-links a:hover {
    color: rgb(235, 26, 26);
    text-decoration: none;
  }
  .projects-about-containers{
    flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
  }
  .section__text {
    margin-top: 4rem;
    padding: 1rem
  }
  .section__text button {
    padding: 4px 10px;
    font-size: 12px;
    width: 100px;
    height: 45px;
  }
  .footer-p2 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
  }
  .footer-p2 h4 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  .footer-p {
    margin: 0;
    font-size: 1rem;
  }
  .skills-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .article-container {
    padding: 0;
    margin: 0;
    gap: 0.8rem;
    width: 110%;
    height: 70%; 
  }
  .article-container img {
    margin: 0;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0px;
  }
  .project img{
    height: 30%;
  }
  .contact-icon {
    cursor: default;
    height: 1.3rem;
    background-color: white;
    margin-left: 3px;
  }
  .projects-color-container {
    width: 85%;
    height: 10%;
    padding: 1.5rem;
    flex: 1;
    background: rgb(240, 232, 232);
    border-radius: 2rem;
    text-align: center;
  }
   .projects-color-container img {
     width: 80vw;
     width: 61vw;
        margin-left: -26px;
   }
  
  .project-title {
    font-size: 1rem;
    margin: 0 0 1px 0;
  }
  .project-btn {
    height: 26px;
    width: 60px;
    font-size: 10px;
    text-align: center;
    padding: 1px;
  }
  .contactarrowicon {
    display: none;
  }
  .experience-text-container h4 {
    font-size: 1rem;
    margin: 0;
  }
  .skills-about-containers {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .skills-container {
    width: 80%;
    align-items: center;
    padding: 8px;
  }
  .experience-container {
    width: 40%;
  }
  .details-container {
    font-size: 73%;
  }
  .projects-details-container{
    padding: 0px;
  }
  .experience-text-container p {
    font-size: 0.6rem;
    font-weight: 500;
    word-spacing: 0;
    line-height: 1.5;
    text-align: justify;
  }
  .about-text-container {
    font-size: 0.6rem;
    font-weight: 500;
    word-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    padding: 12px 12px;
    width: 90%;
  }
  .experience-containers {
    width: 98%;
  }
  .about-containers {
    font-size: smaller;
    width: 90%;
    border-radius: 10px;
    margin: 14px;
  }
  #about,
  #skills,
  #projects,
  #contact {
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0px;
  }
  .about-section-container {
    height: fit-content;
    margin: 0 1rem 2rem 1rem;
  }
  #socials-container img {
    background-color: white;
    border-radius: 100%;
    border: rgb(255, 255, 255) 0.1rem solid;
    height: 35px;
  }

  .contactarrowicon {
    display: none;
  }
  
  .arrowicon {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: -7rem;
    bottom: 2rem;
  }

  .profile-icon {
    border-radius: 100%;
  }

.project-container {
  width: 90vw;
  max-width: 220px;
  margin: auto;
}
 .section__pic-container img {
  border-radius: 50%;   
  object-fit: cover;    
  display: block;       
  margin: 0 auto;  
  width: 650px;
  height: 300px;     
}

.section__pic-container {
  width: 90vw;
  max-width: 350px;
  height: auto;
  }
 .section__pic-container {
    width: 70vw;
    height: auto;
  }
  .section__pic-container {
    width: auto;
     max-width: 270px;
    height: 43vw;
    /* height: 53vw; */
    justify-content: center;
     margin: auto;
  }
  .section__pic-container img {
    width: 200px;
    height: 24vh;
  }
  
  .section__pic-container img:hover {
    border-radius: 50%;
    transform: rotate(360deg);
    transition: 3s;
  }
  
  .icon {
  height: 1rem;
  }
 
}




